[submodule ".modules/OpenTabletDriver-9b36df6aa9646e9a45db56948cb9783bd969102a"]
	path = .modules/OpenTabletDriver-9b36df6aa9646e9a45db56948cb9783bd969102a
	url = https://github.com/OpenTabletDriver/OpenTabletDriver.git
